.c-header {
    height: @header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: @header-bgcolor;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: @sidebar-width-fold;
    right: 0;
    z-index: @top-level-zindex;

    transition: all 0.2s ease-in-out;

    &.is-opened {
        left: @sidebar-width;
    }

    &.is-fixed {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
    &.is-notice {
        padding-top: 40px;
    }

    .u-trigger {
        .size(16px);
        padding: 10px;
        .r(100%);
        background-color: #f0f4f9;
        svg {
            fill: #4f5464;
        }
        .pointer;
        .mr(10px);
        flex-shrink: 0;
    }
}
.c-header-left {
    .flex;
    align-items: center;
    padding-left: 15px;
}

.c-header-right {
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: @phone) {
    .c-header {
        left: 0;
    }
}

@media screen and (max-width: @ipad) {
    .c-header {
        &.is-opened {
            .u-trigger {
                .none;
            }
        }
    }
}

@keyframes wordsLoop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
