@import "../global.less";
@size: @common-panel-width;
@black: #18222f;
@primary: #00467b;
.c-panel {
    background-color: @black;
    width: @size;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.c-panel-logo {
    width: @size;
    height: @size;
    background-color: @primary;
    padding: 12px;
    box-sizing: border-box;
    svg {
        fill: #fff;
    }
}
.c-panel-apps {
    display: flex;
    flex-direction: column;
}
.c-panel-apps__item {
    width: @size;
    height: @size;
    box-sizing: border-box;
    padding: 20px;

    svg {
        fill: #fff;
    }

    &.active {
        background-color: #f0f4f9;
        svg {
            fill: #a2b5cd;
        }
        cursor: not-allowed;
    }
    &:not(.active):hover {
        background-color: #d1dbe5;
        svg {
            fill: @primary;
        }
    }
}
