@color: #004680;

.w-controller {
    .size(340px, 260px);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
        ". top . out"
        "left stop right ."
        ". bottom . in";
    justify-content: center;
    align-content: center;
    .u-controller {
        .flex;
        align-items: center;
        justify-content: center;
        .u-controller-btn {
            .db;
            position: relative;
            .size(50px);
            color: @color;
            z-index: 2;
            &:hover {
                color: #f56c6c;
            }
        }
    }
    .u-controller-forward,
    .u-controller-up {
        grid-area: top;
        .u-controller-btn {
            background: url(../../../../icons/up.svg) center center no-repeat;
            background-size: 48px;
        }
    }
    .u-controller-left {
        grid-area: left;
        .u-controller-btn {
            background: url(../../../../icons/left.svg) center center no-repeat;
            background-size: 48px;
        }
    }
    .u-controller-stop {
        position: relative;
        grid-area: stop;
        .size(84px);
        &::before,
        &::after {
            content: "";
            .db;
            .pa;
            .r(50%);
            .size(110px);
            border: 1px solid @color;
        }
        &::before {
            .size(250px);
        }
        .u-controller-btn {
            background: url(../../../../icons/stop.svg) center center no-repeat;
            background-size: 48px;
        }
    }
    .u-controller-right {
        grid-area: right;
        .u-controller-btn {
            background: url(../../../../icons/right.svg) center center no-repeat;
            background-size: 48px;
        }
    }
    .u-controller-backward,
    .u-controller-down {
        grid-area: bottom;
        .u-controller-btn {
            background: url(../../../../icons/down.svg) center center no-repeat;
            background-size: 48px;
        }
    }
    .u-controller-zoomIn,
    .u-controller-zoomOut {
        .size(68px);
    }
    .u-controller-zoomIn {
        grid-area: in;
        align-self: start;
        .u-controller-btn {
            background: url(../../../../icons/zoomIn.svg) center center no-repeat;
            background-size: 58px;
        }
    }
    .u-controller-zoomOut {
        grid-area: out;
        align-self: end;
        .u-controller-btn {
            background: url(../../../../icons/zoomOut.svg) center center no-repeat;
            background-size: 58px;
        }
    }
}
