.w-live-aliyun {
    .flex;
    gap: 20px;
    .w-live-video {
        min-width: 620px;
        border: 1px solid #ddd;
        .r(5px);
    }
    .w-live-controller {
        .w-controller + .w-controller {
            .mt(30px);
        }
    }
}

@media screen and (max-width: 750px) {
    .w-live-aliyun {
        flex-direction: column;
        .w-live-video {
            width: 100%;
            min-height: 300px;
        }
        .w-live-controller {
            .u-controllers {
                .flex;
                .pt(20px);
                gap: 20px;
                .w-controller {
                    width: 50%;
                    min-width: 340px;
                    .h(240px);
                }
            }
            .w-controller + .w-controller {
                .mt(0);
            }
        }
    }
}
